<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>">
    <style>
      body {
      font-family: Arial, sans-serif;
      background-color: #f2e2d2;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      border-radius: 8px;
      background-color: #dcbba2;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

      h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      label {
        display: block;
        margin-bottom: 5px;
      }

      input[type="text"],
      input[type="datetime-local"],
      input[type="number"],
      button {
        padding: 8px;
        border-radius: 4px;
        border: none;
        margin-bottom: 10px;
        width: 100%;
        box-sizing: border-box;
      }

      button {
        background-color: #4a3112; /* Dark coffee color */
        color: #fff; /* White text color */
        cursor: pointer;
         box-sizing: border-box;
      }

      .error {
        color: #ff0000; /* Red error color */
        margin-top: 5px;
      }
    </style>
    <link href="./css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div>
        <h2>Create new <%= current_sport_name %> session</h2>
        <form action="/sportsession" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <input type="hidden" name="name" value="<%= current_sport_name %>">
          <div>
            <label for="date">When will this sport session be held?</label>
            <input type="datetime-local" name="date">
          </div>
          <div>
            <label for="address">Where will this session be played?</label>
            <input type="text" name="address">
          </div>
          <div>
            <label for="players">Who all will be joining you in this session? <br>(Enter player names separated by commas)</label>
            <input type="text" name="players">
          </div>
          <div>
            <label for="count">How many more players do you need?</label>
            <input type="number" min="0" name="count">
          </div>
          <div>
            <button type="submit">Submit</button>
          </div>
        </form>
        <div class="error">
          <% if(messages && messages.error && messages.error.length > 0)  { %>
            <% for(var i=0; i<messages.error.length; i++) { %>
              <li><%= messages.error[i] %></li>
            <% } %>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
