<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Session Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f0e1;
            color: #362d20;
            margin: 0;
            padding: 20px;
        }

        h3 {
            color: #4d4030;
        }

        p {
            margin: 5px 0;
        }

        div {
            background-color: #e6dbc1;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
        }

        .session-header {
            background-color: #c7b49d;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
        }

        .sport-name {
            font-weight: bold;
            color: #362d20;
        }

        .time {
            color: #745c44;
        }

        .venue {
            color: #4d4030;
        }

        .players {
            color: #745c44;
        }
    </style>
</head>
<body>
    <div >
        <h4>Available <%= current_sport.sport_name %> sessions</h4>
    </div>
    <div>
        <% for (var i = 0; i < sessionDetails.length; i++) { %>
            <div class="session-header">
              <h3>Session # <%= sessionDetails[i].id %></h3>
              <p class="sport-name">Sport Name: <%= current_sport.sport_name %></p>
              <p class="time">Time: <%= new Date(sessionDetails[i].time).toLocaleString('en-US', { dateStyle: 'full', timeStyle: 'medium' }) %></p>
              <p class="venue">Venue: <%= sessionDetails[i].venue %></p>
              <p class="players">Players: <%= sessionDetails[i].players %> %></p>
              <p class="players">Players: <%= sessionDetails[i].players.length %> / <%= sessionDetails[i].playerCount %></p>
              <% if (user) { %>
                <% const isPlayerJoined = sessionDetails[i].players.includes(user.firstname); %>
                <% if (!isPlayerJoined) { %>
                  <form action="/join-session" method="POST">
                    <input type="hidden" name="sessionId" value="<%= sessionDetails[i].id %>">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="submit" value="Join Session">
                  </form>
                <% } else { %>
                  <p>You have already joined this session.</p>
                  <form action="/leave-session" method="POST">
                    <input type="hidden" name="sessionId" value="<%= sessionDetails[i].id %>">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="submit" value="Leave Session">
                  </form>
                <% } %>
              <% } %>
            </div>
          <% } %>
    </div>
</body>
</html>
