<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: #EEE2DC; /* Shade of coffee */
            font-family: Arial, sans-serif;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #FFFFFF;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .bc{
          background-color: #482b1d;
          border-radius: 5px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          padding: 20px;
          width: 100%;
          box-sizing: border-box;
        }
        h1 {
            color: #4A3F35; /* Dark brown */
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        li {
            margin-bottom: 10px;
        }

        a {
            color: #BF9774; /* Light brown */
            text-decoration: none;
            font-weight: bold;
        }

        a:hover {
            text-decoration: underline;
        }

        .date-time {
            color: #8F6A5F; /* Light brown */
            margin-top: 5px;
        }

        form {
            margin-top: 10px;
        }

        label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
            color: #4A3F35; /* Dark brown */
        }

        input[type="text"] {
            width: 100%;
            padding: 5px;
            border-radius: 3px;
            border: 1px solid #CCC;
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
        }

        button[type="submit"] {
            padding: 8px 16px;
            background-color: #BF9774; /* Light brown */
            border: none;
            color: #FFFFFF;
            font-weight: bold;
            border-radius: 3px;
            cursor: pointer;
        }

        button[type="submit"]:hover {
            background-color: #8F6A5F; /* Dark brown */
        }
    </style>
</head>
<body>
  <div class="container mt-5">
    <% let createdByYou = []; %>
    <% let joinedSessions = []; %>
    <% let otherSessions = []; %>
    <% let previousSessions = []; %>
    
    <% if (sportDetails.length > 0) { %>
      <% for (var i = 0; i < sportDetails.length; i++) { %>
        <% if (getUser.id == sportDetails[i].userId && sportid == sportDetails[i].sportId) { %>
          <% var emptySlots = sportDetails[i].playerCount; %>
          <% createdByYou.push(sportDetails[i]); %>
          <% if (sportDetails[i].players.includes(getUser.firstname)) { %>
            <% joinedSessions.push(sportDetails[i]); %>
          <% } %>
        <% } else { %>
          <% otherSessions.push(sportDetails[i]); %>
        <% } %>
        <% if (new Date(sportDetails[i].time) < new Date()) { %>
          <% previousSessions.push(sportDetails[i]); %>
        <% } %>
      <% } %>
    <% } %>
    
    <% if (createdByYou.length > 0) { %>
      <h1>Created by you</h1>
      <ul>
        <% for (var i = 0; i < createdByYou.length; i++) { %>
          <li>
            <div class="bc">
              <a href="/sessionPage/<%= createdByYou[i].id %>">
                Session # <%= createdByYou[i].id %> - Empty Slots: <%= createdByYou[i].playerCount %>
                <div class="date-time">
                  <p>Time: <%= new Date(createdByYou[i].time).toLocaleString('en-US', { dateStyle: 'full', timeStyle: 'medium' }) %></p>
                </div>
              </a>
            </div>
            <% if (getUser.id === createdByYou[i].userId) { %>
              <form action="/delete-session" method="POST">
                <input type="hidden" name="sessionId" value="<%= createdByYou[i].id %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <label for="cancellationReason">Cancellation Reason:</label>
                <input type="text" name="cancellationReason" id="cancellationReason" required >
                <button type="submit">Delete Session</button>
              </form>
            <% } %>
          </li>
        <% } %>
      </ul>
    <% } %>
    
    <% if (joinedSessions.length > 0) { %>
      <h1>Joined Sessions</h1>
      <ul>
        <% for (var i = 0; i < joinedSessions.length; i++) { %>
          <li>
           <div class="bc">
            <a href="/sessionPage/<%= joinedSessions[i].id %>">
              Session # <%= joinedSessions[i].id %> - Empty Slots: <%= joinedSessions[i].playerCount %>
              <div class="date-time">
                <p>Time: <%= new Date(joinedSessions[i].time).toLocaleString('en-US', { dateStyle: 'full', timeStyle: 'medium' }) %></p>
              </div>
            </a>
           </div>
          </li>
        <% } %>
      </ul>
    <% } %>
    <% if (previousSessions.length > 0) { %>
      <h1>Previous Sessions</h1>
      <ul>
        <% for (var i = 0; i < previousSessions.length; i++) { %>
          <li>
            <div class="bc">
              <a href="/sessionPage/<%= previousSessions[i].id %>">
                Session # <%= previousSessions[i].id %> - Empty Slots: <%= previousSessions[i].playerCount %>
                <div class="date-time">
                  <p>Time: <%= new Date(previousSessions[i].time).toLocaleString('en-US', { dateStyle: 'full', timeStyle: 'medium' }) %></p>
                </div>
              </a>
            </div>
          </li>
        <% } %>
      </ul>
    <% } %>
    <% if (otherSessions.length > 0) { %>
      <h1>Other sessions</h1>
      <ul>
        <% for (var i = 0; i < otherSessions.length; i++) { %>
          <li>
            <div class="bc">
              <a href="/sessionPage/<%= otherSessions[i].id %>">
                Session # <%= otherSessions[i].id %> - Empty Slots: <%= otherSessions[i].playerCount %>
                <div class="date-time">
                  <p>Time: <%= new Date(otherSessions[i].time).toLocaleString('en-US', { dateStyle: 'full', timeStyle: 'medium' }) %></p>
                </div>
              </a>
            </div>
          </li>
        <% } %>
      </ul>
    <% } %>
  </div>
  
</body>
</html>
