<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: #EEECE9;
            color: #6B4E3D;
            font-family: Arial, sans-serif;
        }

        .mt-5 {
            margin-top: 2.5rem;
        }

        .text-indigo-700 {
            color: #3B3F52;
        }

        .font-bold {
            font-weight: bold;
        }

        .mb-4 {
            margin-bottom: 1rem;
        }

        .list-disc {
            list-style-type: disc;
            margin-left: 2rem;
        }

        .Session-Item {
            background-color: #D1B7A0;
            padding: 1rem;
            margin-bottom: 1rem;
            border-radius: 0.5rem;
        }

        .flex {
            display: flex;
        }

        .items-center {
            align-items: center;
        }

        .py-1 {
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
        }

        .px-2 {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }

        .my-1 {
            margin-top: 0.25rem;
            margin-bottom: 0.25rem;
        }

        .text-xl {
            font-size: 1.25rem;
        }

        .hover\:underline:hover {
            text-decoration: underline;
        }

        .text-coffee-light {
            color: #BFA390;
        }

        .text-coffee-dark {
            color: #6B4E3D;
        }

        /* New styles */

        a {
            display: inline-block;
            padding: 0.5rem 1rem;
            background-color: #BFA390;
            color: white;
            text-decoration: none;
            border-radius: 0.5rem;
            margin-bottom: 0.5rem;
        }

        .Session-Item {
            background-color: #6B4E3D;
            color: white;
            padding: 1rem;
            margin-bottom: 1rem;
            border-radius: 0.5rem;
        }

        .text-xl {
            font-size: 1.5rem;
        }

        .text-coffee-light {
            color: #BFA390;
        }

        .text-coffee-dark {
            color: #6B4E3D;
        }
    </style>
</head>
<body>
    <div class="mt-5">
        <% let createdByYou = []; %>
        <% let otherSessions = []; %>
        
        <% if (sportDetails.length > 0) { %>
          <% for (var i = 0; i < sportDetails.length; i++) { %>
            <% if (getUser.id == sportDetails[i].userId && sportid == sportDetails[i].sportId) { %>
              <% var emptySlots = sportDetails[i].playerCount; %>
              <% createdByYou.push(sportDetails[i]); %>
            <% } else { %>
              <% otherSessions.push(sportDetails[i]); %>
            <% } %>
          <% } %>
        <% } %>
        
        <% if (createdByYou.length > 0) { %>
          <h1>Created by you</h1>
          <ul>
            <% for (var i = 0; i < createdByYou.length; i++) { %>
              <li>
                <a href="/sessionPage/<%= createdByYou[i].id %>">
                  Session # <%= createdByYou[i].id %> - Empty Slots: <%= createdByYou[i].playerCount %>
                  <div>
                    <p>Time: <%= new Date(createdByYou[i].time).toLocaleString('en-US', { dateStyle: 'full', timeStyle: 'medium' }) %></p>
                  </div>
                </a>
              </li>
            <% } %>
          </ul>
        <% } %>
        
        <% if (otherSessions.length > 0) { %>
          <h1>Other sessions</h1>
          <ul>
            <% for (var i = 0; i < otherSessions.length; i++) { %>
              <li>
                <a href="/sessionPage/<%= otherSessions[i].id %>">
                  Session # <%= otherSessions[i].id %> - Empty Slots: <%= otherSessions[i].playerCount %>
                  <div>
                    <p>Time: <%= new Date(otherSessions[i].time).toLocaleString('en-US', { dateStyle: 'full', timeStyle: 'medium' }) %></p>
                  </div>
                </a>
              </li>
            <% } %>
          </ul>
        <% } %>
        
        
        
        
    </div>
</body>
</html>
